---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";

const blogPosts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const WORK_EXPERIENCE_CONTENT: {
  title: string;
  company: string;
  date: string;
}[] = [
  {
    title: "Senior Frontend Engineer",
    company: "Full Creative",
    date: "2023 - Present",
  },
  {
    title: "Frontend Engineer",
    company: "AnywhereWorks",
    date: "2020 - 2023",
  },
  {
    title: "Web Developer",
    company: "Setmore",
    date: "2018 - 2020",
  },
];
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="space-y-10">
      <section>
        <h1 class="text-3xl font-medium mb-4">Hey there! I'm Thanigai 👋</h1>
        <div>
          <article>
            I'm a Frontend Engineer who design systems that make product teams
            move faster — without breaking accessibility, performance, or
            flexibility
          </article>
        </div>
      </section>
      <section>
        <h2 class="text-2xl font-medium mb-4">Now</h2>
        <div>
          <article class="space-y-2">
            <p>
              I'm maintaining the <a
                href="https://earth.anywhere.co/"
                target="_blank"
                rel="noopener noreferrer">Earth Design System</a
              >, used across multiple teams. I've improved accessibility and
              added CI for visual and a11y testing.
            </p>
            <p>
              I also built a Style API for easy customization and run workshops
              to support adoption and contribution.
            </p>
          </article>
        </div>
      </section>
      <section>
        <h2 class="text-2xl font-medium mb-4">Blog</h2>
        <ul>
          {
            blogPosts.map((post) => (
              <li class="mb-4 relative group">
                <h3>
                  <a
                    href={`/blog/${post.id}/`}
                    class="after:absolute after:inset-0 no-underline group-hover:underline"
                  >
                    {post.data.title}
                  </a>
                </h3>
                <p class="text-secondary">{post.data.description}</p>
              </li>
            ))
          }
        </ul>
      </section>
      <section>
        <h2 class="text-2xl font-medium mb-4">Work Experience</h2>
        <ul class="space-y-4">
          {
            WORK_EXPERIENCE_CONTENT.map(({ title, company, date }) => (
              <li
                class="
                border border-tertiary p-4 rounded-2xl flex flex-col
                gap-y-3 sm: sm:flex-row sm:items-center sm:justify-between
                bg-gradient-to-b from-transparent to-teal-900/5 hover:to-teal-900/20
                transition-colors duration-500
                "
              >
                <div>
                  <h3 class="text-lg">{title}</h3>
                  <p class="text-secondary">{company}</p>
                </div>
                <p class="text-secondary text-sm">{date}</p>
              </li>
            ))
          }
        </ul>
      </section>
      <section>
        <h2 class="text-2xl font-medium mb-4">Beyond</h2>
        <div>
          <article>
            You can explore my projects here where I do expereiment with
            interfaces. I curate a lot of <a href="/tools">tools</a> to make my life
            easier.
          </article>
        </div>
      </section>
      <Footer />
    </main>
  </body>
</html>
