---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION, SITE_BASE_PATH } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import Stack from "../../layouts/Stack.astro";

const posts = (await getCollection("projects")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="text-lg">
    <Header />
    <Stack class="gap-12">
      <section>
        <h1 class="text-4xl font-medium mb-4">Thanigai Builds</h1>
        <Stack class="gap-16">
          <Stack class="gap-2">
            {
              posts.map((post) => (
                <div class="mb-4 relative group">
                  <h3 class="text-xl">
                    <a
                      href={`/${SITE_BASE_PATH}/projects/${post.id}/`}
                      class="after:absolute after:inset-0 no-underline group-hover:underline"
                    >
                      {post.data.title}
                    </a>
                  </h3>
                  <p class="text-secondary line-clamp-2">{post.data.excerpt}</p>
                </div>
              ))
            }
          </Stack>
        </Stack>
      </section>
      <Footer />
    </Stack>
  </body>
</html>
