---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import CustomProse from "./CustomProse.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, excerpt, heroImage } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <Header />
    <main class="mb-10 text-secondary">
      <div class="flex text-sm mb-5 text-secondary gap-1">
        <span>←</span>
        <a href="/blog" class="no-underline">Back to blog</a>
      </div>
      <article>
        <h1 class="text-primary text-lg font-medium">{title}</h1>
        <p class="text-sm text-secondary">
          {description}
        </p>
        {
          heroImage && (
            <figure class="my-10">
              <img
                width={1020}
                height={500}
                src={heroImage}
                class="w-full mt-5 mb-10 aspect-video"
                alt=""
              />
              <figcaption class="text-secondary italic">
                {description}
              </figcaption>
            </figure>
          )
        }

        <CustomProse>
          <slot />
        </CustomProse>
      </article>
    </main>
    <Footer />
  </body>
</html>
